<div>
  <h2> Classifica - {{season.name}}</h2>
  <table>
    <tr><th> Stemma </th> <th> Nome </th> <th> Posizione </th> <th> Punti </th><th> Vittorie </th><th> Pareggi </th><th> Sconfitte </th></tr>
    <tr *ngFor="let position of season.classification">
     <td> <img src={{position.teamCrestUrl}} alt="X" width="20" height="20"> </td> <td>{{position.teamName}} </td> <td> {{position.position}} </td> <td>{{position.points}}</td> <td>{{position.won}} </td> <td>{{position.draw}} </td> <td>{{position.lost}} </td>
    </tr>
  </table>
</div>
