<div *ngIf="player">
    <h3> Dettagli giocatore </h3>
    <div >
        <p *ngIf="player.playerUrl"><img src={{player.playerUrl}} alt="Immagine non disponibile"> <br></p>
        Id: {{player.id}}
        <br>
        Nome: {{player.name}} 
        <br>
        Posizione: {{player.position}}
        <br>
        Data di Nascita: {{player.dateOfBirth}}
        <br>
        Numero maglietta: {{player.shirtNumber}}
        <br>
        Paese di nascita: {{player.countryOfBirth}} <br>
        <br>
        <div *ngIf="player.playerDetails">
        Dettagli
        <span [innerHtml]="player.playerDetails"></span>
        </div>
        <br>
        <br>
    </div>
  </div>