<nav>
<a routerLink="/daystable/2019" href="#" target="_blank">Tabella giornate Serie A </a> <br>
<a routerLink="/daystable/2002" href="#" target="_blank">Tabella giornate Bundesliga </a> <br>
<a routerLink="/daystable/2013" href="#" target="_blank">Tabella giornate Série A brasiliana </a> <br>
<a routerLink="/daystable/2021" href="#" target="_blank">Tabella giornate Premier league inglese</a> <br>
<a routerLink="/daystable/2014" href="#" target="_blank">Tabella giornate Primeira Division spagnola</a> <br>
<a routerLink="/daystable/2017" href="#" target="_blank">Tabella giornate Primeira Liga portoghese </a> <br>
<a routerLink="/daystable/2015" href="#" target="_blank">Tabella giornate Ligue 1 francese </a> <br>

</nav>