<nav class="col-md-8">
          <ul>
            <li class="active"><a routerLink="/daystable/2019" href="#" target="_blank">Serie A </a></li>
            <li class="active"><a routerLink="/daystable/2002" href="#" target="_blank">Bundesliga DEU</a></li>
            <li class="active"><a routerLink="/daystable/2013" href="#" target="_blank">Série A BR </a></li>
            <li class="active"><a routerLink="/daystable/2021" href="#" target="_blank">Premier league ENG</a></li>
            <li class="active"><a routerLink="/daystable/2014" href="#" target="_blank">Primeira Division ESP</a></li>
            <li class="active"><a routerLink="/daystable/2017" href="#" target="_blank">Primeira Liga PT </a></li>
            <li class="active"><a routerLink="/daystable/2015" href="#" target="_blank">Ligue 1 FR </a></li>
        </ul>         
</nav>